<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Car</title>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/header">Header</header>

    <section class="road">
        <div>
            <h2>Title</h2>
            <p>Very long description</p>
            <a href="/" class="btn">Learn More</a>
        </div>
        <img class="rounded-circle w-75 ml-5" src="/images/pic1.jpg" alt="Title image">
    </section>
</div>
<!-- Wrapper Ends -->
</body>
<div th:replace="fragments/footer">Footer</div>

</html>