<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<nav class="main-nav">
    <ul>
        <li  th:if="${@currentUser.isAnonymous()}">
            <a href="/">Home</a>
        </li>
        <li  th:if="${@currentUser.isAnonymous()}">
            <a href="/users/login">Login</a>
        </li>
        <li  th:if="${@currentUser.isAnonymous()}">
            <a href="/users/register">Register</a>
        </li>
        <li  th:if="${@currentUser.isAnonymous()}">
            <a href="/about">About</a>
        </li>
        <li  th:if="${@currentUser.isLoggedIn()}">
            <a href="/">Add new route</a>
        </li>
        <li  th:if="${@currentUser.isLoggedIn()}">
            <a href="/">Profile</a>
        </li>
        <li  th:if="${@currentUser.isAdmin()}">
            <a href="/">Admin</a>
        </li>
        <li  th:if="${@currentUser.isLoggedIn()}">
            <a href="/users/logout">Logout</a>
        </li>
    </ul>
</nav>
</body>
</html>