<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<nav class="main-nav">
    <ul>
        <li  sec:authorize="isAnonymous()">
            <a href="/">Home</a>
        </li>
        <li  sec:authorize="isAnonymous()">
            <a href="/users/login">Login</a>
        </li>
        <li  sec:authorize="isAnonymous()">
            <a href="/users/register">Register</a>
        </li>
        <li  sec:authorize="isAnonymous()">
            <a href="/about">About</a>
        </li>
        <li  sec:authorize="isAuthenticated()">
            <a href="/">Add new route</a>
        </li>
        <li  sec:authorize="isAuthenticated()">
            <a href="/users/profile">Profile</a>
        </li>
        <li  sec:authorize="hasRole('ADMIN')">
            <a href="/">Admin</a>
        </li>
        <li   sec:authorize="isAuthenticated()">
            <form id="GFG" th:action="@{/users/logout}" th:method="post">
                <a href="javascript:document.getElementById('GFG').submit();">Logout</a>
            </form>
        </li>
    </ul>
</nav>
</body>
</html>